 <VirtualHost *:80>
    # here replace with the subdomain you have created, you must own YOURDOMAIN.COM
    ServerName SUBDOMAIN.YOURDOMAIN.COM

    # use debug instead of production to get more log
    SetEnv APPLICATION_ENV production 

    # alias for download and streaming, it must point to your download directory
    # replace /YOUR/PATH with the same path as cakebox.root variable in app/config/
    Alias /access /YOUR/PATH
    <Directory /YOUR/PATH/>
        Options -Indexes

        Order allow,deny 
        Allow from all
        Satisfy Any

        Header set Content-Disposition "attachment"
    </Directory>

    DocumentRoot /var/www/cakebox/public/
    <Directory /var/www/cakebox/public/>
        Options Indexes MultiViews FollowSymLinks
        AllowOverride none

        Order allow,deny
        Allow from all

        RewriteEngine On
        RewriteBase /
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^ index.php [L]
    </Directory>

    ErrorLog "/var/log/apache2/cakebox-error.log"
    CustomLog "/var/log/apache2/cakebox-access.log" common
</VirtualHost>