Alias /cakebox /var/www/cakebox/public/
<Directory /var/www/cakebox/public/>
    Options Indexes MultiViews FollowSymLinks
    AllowOverride All

    Order allow,deny
    Allow from all

    # use debug instead of production to get more log
    SetEnv APPLICATION_ENV production

    RewriteEngine On
    RewriteBase /cakebox/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</Directory>

# alias for download and streaming, it must point to your download directory
# replace /YOUR/PATH with the same path as cakebox.root variable in app/config/
Alias /access /YOUR/PATH
<Directory /YOUR/PATH/>
    Options -Indexes

    Order allow,deny 
    Allow from all
    Satisfy Any

    Header set Content-Disposition "attachment"
</Directory>
