Alias /cakebox /var/www/cakebox/public/
<Directory /var/www/cakebox/public/>
    Options Indexes MultiViews FollowSymLinks
    AllowOverride All

    Order allow,deny
    Allow from all

    # use debug instead of production to get more log
    SetEnv APPLICATION_ENV production

    RewriteEngine On
    RewriteBase /cakebox/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</Directory>

# alias for download and streaming, same path as cakebox.root variable in app/config/
Alias /access /hard/link/to/original/directory/
<Directory /hard/link/to/original/directory/>
    Order allow,deny
    Allow from all
    Satisfy Any
    Header set Content-Disposition "attachment"
</Directory>
