<VirtualHost *:80>
    # here replace with the subdomain you have created, you must own $SUBDOMAIN
    ServerName $SUBDOMAIN

    # use debug instead of production to get more log
    SetEnv APPLICATION_ENV production 

    # alias for download and streaming, it must point to your download directory
    # replace $VIDEOREP with the same path as cakebox.root variable in app/config/
    Alias /access $VIDEOREP/
    <Directory $VIDEOREP>
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>
        Header set Content-Disposition "attachment"
    </Directory>

    DocumentRoot "$CAKEBOXREP/public"
    <Directory "$CAKEBOXREP/public">
        Options Indexes MultiViews FollowSymLinks
        AllowOverride none

        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>

        RewriteEngine On
        RewriteBase /
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^ index.php [L]
    </Directory>

    ErrorLog "/var/log/apache2/$SUBDOMAIN-error.log"
    CustomLog "/var/log/apache2/$SUBDOMAIN-access.log" common
</VirtualHost>

