server {
        listen 80;

        #here replace with the subdomain you have created, you must own YOURDOMAIN.COM
        server_name SUBDOMAIN.YOURDOMAIN.COM;

        root /var/www/$server_name/public/;

        access_log /var/log/nginx/cakebox-access.log;
        error_log /var/log/nginx/cakebox-error.log;

        #replacement for htaccess, uncomment if you want
        #auth_basic "Restricted";
        #auth_basic_user_file /etc/nginx/htpasswd;

        #alias for download and streaming
        #replace /YOUR/PATH with the same path as cakebox.root variable in app/config/
        location /access/ {
            alias /YOUR/PATH;
            allow all;
            satisfy any;
            add_header Content-Disposition "attachment";
        }

        #site root is redirected to the app boot script
        location = / {
            try_files @site @site;
        }

        #all other locations try other files first and go to our front controller if none of them exists
        location / {
            try_files $uri $uri/ @site;
        }

        #return 404 for all php files as we do have a front controller
        location ~ \.php$ {
            return 404;
        }

        #main configuration
        location @site {
            fastcgi_pass   unix:/var/run/php5-fpm.sock;
            include fastcgi_params;
            fastcgi_param  SCRIPT_FILENAME $document_root/index.php;
            #use debug instead of production to get more log
            fastcgi_param  APPLICATION_ENV production;
            #fastcgi_param HTTPS on;
        }
}
