 <VirtualHost *:80>
    ServerAdmin your@email.com
    ServerName cakebox.yourdomain.com

    # use debug instead of production to get more log
    SetEnv APPLICATION_ENV production 

    DocumentRoot "/var/www/cakebox/public/"
    <Directory "/var/www/cakebox/public/">
        Options Indexes MultiViews FollowSymLinks
        AllowOverride none

        Order allow,deny
        Allow from all

        RewriteEngine On
        RewriteBase /
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^ index.php [L]
    </Directory>

    # alias for download and streaming, same path as cakebox.root variable in app/config/
    Alias /access /hard/link/to/original/directory/
    <Directory /hard/link/to/original/directory/>
        Order allow,deny 
        Allow from all
        Satisfy Any
    </Directory>

    ErrorLog "/var/log/apache2/cakebox-error.log"
    CustomLog "/var/log/apache2/cakebox-access.log" common
</VirtualHost>