<?php

/*
  General configuration of Cakebox
*/
$app["cakebox.root"] = "/var/www/"; // Root directory Cakebox have to scan
$app["cakebox.access"] = "/access/"; // Alias used in web server for direct access
$app["cakebox.language"] = "fr"; //Language of Cakebox. Could be : fr, en
$app["cakebox.host"] = ""; //domain where cakebox is hosted

/*
  Directory settings
*/
$app["directory.ignoreDotFiles"] = true;
$app["directory.ignore"] = "//"; // Regex for files exclusion. For exemple : "/(\.nfo|\.test)$/"

/*
  Web player settings
*/
$app["player.default_type"] = "html5"; // html5 or divx or vlc
$app["player.auto_play"] = "false";

/*
  User rights
*/
$app["rights.canPlayMedia"] = true;
$app["rights.canDownloadFile"] = true;
$app["rights.canArchiveDirectory"] = false;
$app["rights.canDelete"] = false;
$app["rights.canCreate"] = true;
$app["rights.canRename"] = true;
$app["rights.canUpload"] = true;

/*
User credentials
*/
$app["user.auth"] = 0;
$app["user.name"] = "john";
$app["user.password"] = "96d9632f363564cc3032521409cf22a852f2032eec099ed5967c0d000cec607a";

/*
  Betaseries account
  NB: Ask API key here http://www.betaseries.com/api/
*/
$app["bs.login"] = "";
$app["bs.passwd"] = "";
$app["bs.apikey"] = "";
