<div class="view">
    <center>
        <strong>Cakebox</strong><br>
        <span translate="ABOUT_PAGE.VERSION" translate-values="{{ app.version }}"></span> <br>
        <br>
        <strong translate="ABOUT_PAGE.TITLE2"></strong><br>
        <a href="mailto:iam.mardambey@gmail.com">MardamBey</a> & <a href="https://twitter.com/tuxity">Tuxity</a><br>
        <br>
        {{ 'ABOUT_PAGE.MORE' | translate }}<br><br>
        <strong translate>ABOUT_PAGE.THANKS</strong><br>
        MiLk, <a href="https://twitter.com/mpgn_x64">mpgn</a>, <a href="https://github.com/L3o-pold">L3o-pold</a> grm34, fma16, Magicalex<br>
        {{ 'ABOUT_PAGE.THANKS_FOR' | translate }}<br>
        <br>
        Candle<br>
        {{ 'ABOUT_PAGE.THANKS_CANDLE' | translate }}
    </center>
</div>
