<div class="view">
    <p>Cakebox est développé par <strong>MardamBey</strong> & <strong>Tuxity</strong>, depuis 2012.</p>
    <p>
        <strong>Site officiel :</strong> <a href="http://www.heycakebox.com">heycakebox.com</a> <br>
        <strong>Dépots Github :</strong> <a href="https://github.com/Cakebox">https://github.com/Cakebox</a><br>
        <strong>Version actuelle :</strong> Cakebox Light ( <a ng-href="https://github.com/Cakebox/Cakebox-light/commit/{{ appinfo.commitid }}">{{ appinfo.commitid }}</a> ) <br>
    </p>
</div>