<div class="view">
    <ol class="breadcrumb">
        <li ng-repeat="breadcrumb in breadcrumbs.getAll()" ng-class="{'active' : $last}">
            <a ng-if="$first" href="#/" ng-class="{'glyphicon glyphicon-home': $first}"></a>
            <a ng-if="$middle" ng-href="#/browse{{ breadcrumb.path }}">{{ breadcrumb.name }}</a>
            <span ng-if="$last">{{ breadcrumb.name }}</span>
        </li>
    </ol>

    <div class="informations">
        {{ informations }}
    </div>

    <table class="table table-condensed ">
        <tbody>

            <tr ng-if="dirs != 'empty'" class="file" ng-repeat="dir in dirs | filter:global.searchText">
                <td class="file-download">
                    <a ng-if="dir.type == 'file'" ng-href="{{ dir.access }}" class="glyphicon glyphicon-download"></a>
                </td>
                <td class="file-name ">
                    <a ng-if="dir.type == 'dir'" ng-href="#/browse/{{ currentPath + dir.name }}" >{{ dir.name }}/</a>
                    <a ng-if="dir.type == 'file' && !dir.extraType" ng-href="{{ dir.access }}" >{{ dir.name }}</a>
                    <a ng-if="dir.type == 'file' && dir.extraType == 'video'" ng-href="#/play/{{ currentPath + dir.name }}">{{ dir.name }}</a>
                </td>
                <td class="file-size">
                    {{ dir.size | bytes }}
                </td>
            </tr>
            <tr ng-if="dirs == 'empty'"><td>Rien dans ce repertoire.</td></tr>
        </tbody>
    </table>
</div>
