<div class="view">
    <ol class="breadcrumb">
        <li ng-repeat="breadcrumb in breadcrumbs.getAll()" ng-class="{active:$last}">
            <a ng-if="$first" href="#/" ng-class="{'glyphicon glyphicon-home':$first}"></a>
            <a ng-if="$middle" ng-href="#/browse{{ breadcrumb.path }}">{{ breadcrumb.name }}</a>
            <span ng-if="$last">{{ breadcrumb.name }}</span>
        </li>
        <a ng-click="refreshDatas($event)" title="Recharger le contenu" class="glyphicon glyphicon-refresh pull-right"></a>
    </ol>

    <div ng-show="informations" class="informations">
        {{ informations }}
    </div>

    <div ng-show="entries.length" class="sortInfo pull-right">
        Trier:
        <a href="" ng-click="global.predicate = ''">par nom</a>,
        <a href="" ng-click="global.predicate = 'ctime'; global.reverse=!global.reverse">par date</a>,
        <a href="" ng-click="global.predicate = 'size'; global.reverse=!global.reverse">par taille</a>
    </div>

    <table class="table table-condensed">
        <tbody>
            <tr ng-repeat="entry in entries | orderBy:global.predicate:global.reverse | filter:global.searchText">
                <td class="entry-type">
                    <span ng-class="getExtraClasses(entry)"></span>
                </td>
                <td class="entry-name">
                    <a ng-href="{{ getUrl(entry) }}">{{ entry.name }}</a>
                    <small ng-show="isRecentFile(entry)"><span title="Fichier récent" class="glyphicon glyphicon-star"></span></small>
                </td>
                <td class="entry-size hidden-xs">
                    {{ entry.size | bytes }}
                </td>
                <td class="entry-download">
                    <a ng-show="entry.type == 'dir' && rights.canArchiveDirectory" href="" ng-click="archiveDirectory(entry.name)" title="Créer une archive du répertoire" class="glyphicon glyphicon-compressed"></a>
                    <a ng-show="entry.type == 'file' && rights.canDownloadFile" ng-href="{{ entry.access }}" title="Télécharger le fichier" class="glyphicon glyphicon-download"></a>
                </td>
                <td class="entry-delete" ng-show="entry.type == 'dir' && rights.canDelete">
                    <a href="" title="supprimer le dossier" class="glyphicon glyphicon-remove-circle" ng-click="rmDirectory(entry.name)"></a>
                </td>
                <td class="entry-delete" ng-show="entry.type == 'file' && rights.canDelete">
                    <a href="" title="supprimer le fichier" class="glyphicon glyphicon-remove" ng-click="rmFile(entry.name)"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
