<div class="view">
    <ol class="breadcrumb">
        <li ng-repeat="breadcrumb in breadcrumbs.getAll()" ng-class="{active:$last}">
            <a ng-if="$first" href="#/" ng-class="{'glyphicon glyphicon-home':$first}"></a>
            <a ng-if="$middle" ng-href="#/browse{{ breadcrumb.path }}">{{ breadcrumb.name }}</a>
            <span ng-if="$last">{{ breadcrumb.name }}</span>
        </li>
        <a ng-click="refreshDatas($event)" title="{{ 'BROWSE_PAGE.REFRESH' | translate }}" class="glyphicon glyphicon-refresh pull-right"></a>
        <a ng-show="rights.canCreate" ng-click="addDirectory()" style="margin-right: 10px;" title="{{ 'BROWSE_PAGE.CREATE_DIR' | translate }}" class="glyphicon glyphicon-plus pull-right"></a>
        <div ng-show="rights.canUpload"  class="fileUpload" ngf-select="upload($file)"><span class="glyphicon glyphicon-cloud-upload" title="{{ 'BROWSE_PAGE.UPLOAD_FILE' | translate }}"></span></div>
        <a href="/api/rss?path={{ breadcrumbs.getLast().path }}" title="{{ 'BROWSE_PAGE.RSS' | translate }}" class="pull-right glyphicon glyphicon-export" style="margin-right: 10px;" title="{{ 'BROWSE_PAGE.RSS' | translate }}"></a>
        <a ng-if="progressPercentage != 0" class="pull-right">{{ progressPercentage }}% </a>
    </ol>

    <div ng-show="informations" class="informations">
        {{ informations }}
    </div>

    <div ng-show="entries.length" class="sortInfo pull-right">
        {{ 'BROWSE_PAGE.SORT' | translate }}
        <a href="" ng-click="sortOptions.sortBy = ''" translate>BROWSE_PAGE.NONE</a>,
        <a href="" ng-click="sortOptions.sortBy = 'name'; sortOptions.reverse=!sortOptions.reverse" translate>BROWSE_PAGE.NAME</a>,
        <a href="" ng-click="sortOptions.sortBy = 'mtime'; sortOptions.reverse=!sortOptions.reverse" translate>BROWSE_PAGE.DATE</a>,
        <a href="" ng-click="sortOptions.sortBy = 'size'; sortOptions.reverse=!sortOptions.reverse" translate>BROWSE_PAGE.SIZE</a>
    </div>

    <table class="table table-condensed table-striped">
        <tbody>
            <tr ng-repeat="(key, entry) in entries | orderBy:sortOptions.sortBy:sortOptions.reverse | filter:search.text">
                <td class="entry-type">
                    <span ng-class="getExtraClasses(entry)"></span>
                </td>
                <td class="entry-name" ng-dblclick="ddclick(key)" ng-if="!actionedit || key != editkey">
                    <a ng-href="{{ getUrl(entry) }}">{{ entry.name }}</a>
                    <small ng-show="isRecentFile(entry)"><span title=" {{ 'BROWSE_PAGE.STAR' | translate }} " class="glyphicon glyphicon-star"></span></small>
                </td>
                <td class="entry-name" ng-if="actionedit && key == editkey && rights.canRename">
                    <form class="form-inline editFile">
                        <input class="form-control" ng-init="file.name=entry.name;file.oldname=entry.name" ng-model="file.name"/>
                        <a class="editFile" title="Send" ng-click="changeName(file)"><span class="glyphicon glyphicon-send"></span></a>
                    </form>
                </td>
                <td class="entry-size hidden-xs">
                    {{ entry.size | bytes }}
                </td>
                <td class="entry-copy">
                    <i ng-show="entry.type == 'file'" title="{{ 'BROWSE_PAGE.COPY' | translate }}" class="glyphicon glyphicon-link" clip-copy="copyText(entry)" clip-click="copyfileinfo()"></i>
                </td>
                <td class="entry-download">
                    <a ng-show="entry.type == 'dir' && rights.canArchiveDirectory" href="" ng-click="archiveDirectory(entry)" title="{{ 'BROWSE_PAGE.ARCHIVE' | translate }}" class="glyphicon glyphicon-compressed"></a>
                    <a ng-show="entry.type == 'file' && rights.canDownloadFile" ng-href="{{ entry.access }}" title="{{ 'BROWSE_PAGE.DOWNLOAD' | translate }}" class="glyphicon glyphicon-download"></a>
                </td>
                <td class="entry-delete" ng-show="entry.type == 'dir' && rights.canDelete">
                    <a href="" title="{{ 'BROWSE_PAGE.DELETE_DIR' | translate }}" class="glyphicon glyphicon-remove-circle" ng-click="removeDirectory(entry)"></a>
                </td>
                <td class="entry-delete" ng-show="entry.type == 'file' && rights.canDelete">
                    <a href="" title="{{ 'BROWSE_PAGE.DELETE_FILE' | translate }}" class="glyphicon glyphicon-remove" ng-click="removeFile(entry)"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
