<div class="view">
    <div id="header-player">
        <div class="row">
            <a ng-href="{{ previouspage }}" translate>PLAY_PAGE.BACK</a>
            <select class="form-control pull-right" ng-model="player.default_type" ng-options="player.name for (key, player) in player.available_types"></select><button type="button" class="btn btn-default pull-right"><i title="{{ 'BROWSE_PAGE.COPY' | translate }}" class="glyphicon glyphicon-link" clip-copy="copyText(fileinfo)" clip-click="copyfileinfo()"></i></button>
        </div>
    </div>

    <div class="video-header">
        {{ fileinfo.name }}
    </div>

    <div class="player">

        <div class="player-container">
            <webplayer class="video-container" autoplay="{{ player.auto_play }}" player="{{ player.default_type.type }}" url="{{ fileinfo.access }}" mimetype="{{ fileinfo.mimetype }}"></webplayer>
        </div>

        <div class="betaseries" ng-show="betaseries.episode || betaseries.movie">

            <div id="seen" ng-show="bsConfig.login && bsConfig.passwd">
                <a id="hide" ng-hide="betaseries.episode.user.seen" ng-click="watched($event, betaseries.episode.id)" translate>PLAY_PAGE.BETASERIE.VIEW</a>
                <a id="show" ng-show="betaseries.episode.user.seen" ng-click="unwatched($event, betaseries.episode.id)" translate>PLAY_PAGE.BETASERIE.NO_VIEW</a>
            </div>

            <div id="informations">
                <p>{{ betaseries.episode.description || betaseries.movie.synopsis }}</p>
                <p><span translate="PLAY_PAGE.BETASERIE.SCORE" translate-values="{{ betaseries }}"></span><span ng-if="betaseries.episode.note.total > 1 || betaseries.movie.notes.total > 1">s</span>)</p>
                <p>{{ 'PLAY_PAGE.BETASERIE.RELEASED_ON' | translate }} {{ (betaseries.episode.date || betaseries.movie.release_date) | date:'dd MMMM yyyy' }}</p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4" id="second">
            <a ng-href="{{ prevplay }}" ng-show="prevplay">
                <span class="glyphicon glyphicon-triangle-left"></span><span translate>PLAY_PAGE.PREV</span>
            </a>
            </div>
            <div class="col-sm-4" id="download" ng-show="rights.canDownloadFile">
                <a ng-href="{{ fileinfo.access }}" translate><span class="glyphicon glyphicon-download"></span> PLAY_PAGE.DOWNLOAD </a> <small>({{ fileinfo.size | bytes }})</small>
            </div>
            <div class="col-sm-4" id="second">
                <a ng-href="{{ nextplay }}" ng-show="nextplay">
                    <span translate>PLAY_PAGE.NEXT </span> <span class="glyphicon glyphicon-triangle-right"></span> 
                </a>
            </div>
        </div>
    </div>
</div>
