<div class="view">
    <div id="header-player">
        <div class="row">
            <a ng-href="{{ previouspage }}">Retour</a>
            <select class="form-control pull-right" ng-model="player.default_type" ng-options="player.name for (key, player) in player.avalaible_types"></select>
        </div>
    </div>

    <div class="video-header">
        {{ fileinfo.name }} <span class="'glyphicon glyphicon-ok':betaseries.episode.user.seen"></span>
    </div>

    <div class="player">

        <div class="player-container">
            <webplayer class="video-container" autoplay="{{ player.auto_play }}" player="{{ player.default_type.type }}" url="{{ fileinfo.access }}" mimetype="{{ fileinfo.mimetype }}"></webplayer>
        </div>

        <div class="betaseries" ng-show="(betaseries.episode || betaseries.movie) && betaseries.errors.length == 0">

            <div id="seen">
                <a ng-hide="betaseries.episode.user.seen" ng-click="watched($event, betaseries.episode.id)">Marquer l'épisode comme vu sur BetaSeries</a>
            </div>

            <div id="informations">
                <p>{{ betaseries.episode.description || betaseries.movie.synopsis }}</p>
                <p>Noté {{ (betaseries.episode.note.mean || betaseries.movie.notes.mean) | number:1 }} sur 5 ({{ betaseries.episode.note.total || betaseries.movie.notes.total }} participant<span ng-if="betaseries.episode.note.total > 1 || betaseries.movie.notes.total > 1">s</span>)</p>
                <p>Diffusé le {{ (betaseries.episode.date || betaseries.movie.release_date) | date:'dd MMMM yyyy' }}</p>
            </div>

        </div>

        <div id="download" ng-show="rights.canDownloadFile">
            <a ng-href="{{ fileinfo.access }}"><span class="glyphicon glyphicon-download"></span> Télécharger le fichier</a> <small>({{ fileinfo.size | bytes }})</small> | <i class="glyphicon glyphicon-link"></i> <span type="button" clip-copy="copyText(fileinfo)" clip-click="copyfileinfo()">Copier le lien</span>
        </div>

    </div>
</div>
