html,
body {
  background: url("../images/bg-foodcupcake.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.view {
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.75);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.75);
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  background-color: rgba(255, 255, 255, 0.45);
}

.breadcrumb {
  background-color: rgba(255, 255, 255, 0.62);
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.75);
}

#wrap > .container {
  padding: 80px 15px 0;
}

.container .credit {
  margin: 20px 0;
  color: #777;

}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
/* Bootstrap end */

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}

.loading {
  text-align: center;
}

.search {
  background-color: rgba(255, 255, 255, 0.62);
  border: 5px;
  border-radius: 4px;
  padding-left: 5px;
}

.player {
  text-align: center;
  margin-top: 20px;
}

.betaseries #seen {
  text-align: right;
}

.betaseries #description {
  color: #777;
  text-align: left;
}

.player #download {
  font-size: 130%;
  text-align: center;
  margin-top: 20px;
}

.file .fileInfo {
	min-width: 45px;
}

.video-header {
  color: #777;
  font-size: 150%;
  text-align: center;
}

